// TYPOGRAPHY
$font-family: "Libre Baskerville", serif;

// COLORS
$grey-light: rgb(250, 250, 250);
$blue-light: rgb(240, 250, 255);
$blue-medium: rgb(50, 130, 184);
$blue-dark: rgb(15, 76, 117);

// SPACES
$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 2rem;
$space-xl: 4rem;

// BREAKPOINTS
$tablet: 768px;
